body {
  background-color: rgb(253,252,251);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#the-canvas {
  border: 1px #777 solid;
  border-radius: 2px;
}


#background {
  position: fixed;
  z-index: -1;
  left: 0;
  bottom: 0;
}
