body {
  background-color: rgb(253,252,251);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#the-canvas {
  /* material ui drop shadow */
  box-shadow: 0 38px 76px rgba(0,0,0,0.20), 0 30px 24px rgba(0,0,0,0.11);
}


#background {
  position: fixed;
  z-index: -1;
  left: 0;
  bottom: 0;
}
